* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(212, 45%, 89%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.card {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  align-self: center;
  text-align: center;
  width: 300px;
  height: 500px;
}
.text1 {
  padding: 10px;
  text-align: center;
  margin: 14px 0;
  font-family: "outfit", sans-serif;
}
.text1 h1 {
  font-size: 19px;
  color: hsl(218, 44%, 22%);
}
.text2 {
  text-align: center;
}
.text2 p {
  color: hsl(216, 15%, 48%);
  padding: 0 15px;
  font-size: 14px;
  font-family: "outfit", sans-serif;
}
.image {
  padding: 9px;
}
.photo {
  border-radius: 15px;
  width: 100%;
}
