* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #46b2e3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}
.card {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  align-self: center;
  text-align: center;
  width: 400px;
  height: 600px;
}
.text1 {
  padding: 10px;
  text-align: center;
}
.text2 {
  text-align: center;
}
.image {
  width: 350px;
  height: 300px;
}
.photo {
  border-radius: 15px;
  width: inherit;
}
